@font-face {
    font-family: 'GetVoIP Grotesque';
    src: url('../fonts/GetVoIPGrotesque.woff2') format('woff2'),
    url('../fonts/GetVoIPGrotesque.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
